bootstrap/
docs/
node_modules/
public/material-complementar/
vendor/
/.vagrant
*.bak
*.tmp
.env
artisan
gulpfile.js
Homestead.json
Homestead.yaml
npm-debug.log
package.json
phpspec.yml
phpunit.xml
server.php
yarn-error.log
